* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: #83a25b;
}

.header-box {
  height: 12vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  gap: 8rem;
}
h1 {
  font-size: 3rem;
  font-weight: 500;
  padding-left: 10rem;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

.box-left {
  width: 35vw;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 12rem;
}
.box-left img {
  width: 100%;
  position: absolute;
  border: solid 10px black;
}
.box-left span {
  font-size: 8vw;
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  color: rgb(255, 255, 255, 0.5);
  text-align: center;
  /* text-decoration: underline 2px solid #0f0; */
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100%;
}
.nav li {
  list-style: none;
  padding: 4rem;
}
.nav a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

form {
  margin-left: 10rem;
}

form input {
  width: 20rem;
  height: 3rem;
  border-radius: 2rem;
  border: none;
  color: white;
  background-color: #1f3905;
  text-align: center;
}

.calender {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 200px;
   margin-left: 50vw;
  margin-top: 100vh;
  font-size: 2rem;
  text-align: center;
  border: 3px solid black;
}

.pflegetips {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: 50vw;
  margin-top: 100vh;
  font-size: 2rem;
  text-align: center;
  border: 3px solid black;
}

.user-guide {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: 50vw;
  margin-top: 100vh;
  font-size: 2rem;
  text-align: center;
  border: 3px solid black;
}

.plant-container {
  width: 50vw;
  height: 60vh;
  margin-top: 80rem;
  margin-left: 80rem;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}

.plant-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 18px;
  height: 50vh;
}

.plant-image {
  width: 60%;
  height: 60%;
}

.box-right {
  width: 45vw;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 12vh;
  background-color: #1f3905;
}

/* ************** */

.test2 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  /* width: 60vw; */
  height: 75vh;
  top: 0;
  left: 68%;
  transform: translate(-50%, 20%);
  font-size: 1.8rem;
  text-align: center;
  border: 3px solid black;
} 
