* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  background-color: #83a25b;
}

.header-box {
  height: 12vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  gap: 8rem;
}
h1 {
  font-size: 3rem;
  font-weight: 500;
  padding-left: 10rem;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

.box-left {
  width: 35vw;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* top: 1vh; */
  padding-top: 12rem;
}
@media (max-width: 768px) {
  .box-left {
    width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1vh;
    padding-top: 12rem;
  }
}
.box-left img {
  width: 100%;
  position: absolute;
  border: solid 10px black;
}
.box-left span {
  font-size: 8vw;
  font-weight: 700;
  text-align: center;
<<<<<<< HEAD
  border-radius: 20px;
  position: absolute;
  color: rgb(255, 255, 255, 0.5);
  text-align: center;
  /* text-decoration: underline 2px solid #0f0; */
=======
  text-decoration: underline;
  color: rgb(255, 255, 255, 0.2);
>>>>>>> main
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100%;
}
.nav li {
  list-style: none;
  padding: 6rem;
}
.nav a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

form {
  margin-left: 10rem;
}

form input {
  width: 20rem;
  height: 3rem;
  border-radius: 2rem;
  border: none;
  color: white;
  background-color: #1f3905;
  text-align: center;
  padding: 1rem;
}

.text-box{
  display: flex;
  justify-content: center;
  width: 500px;
  height: 200px;
  margin-left: 50vw;
 margin-bottom: 50rem;
  position: relative;
}

.calendar {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 20vw;
  height: 40vh;
  margin-left: 40vw;
  margin-top: 90vh;
  box-shadow: 15px 15px 10px 3px rgba(17, 70, 14, 0.75);
}

.react-calendar {
  width: 100%;
  height: 100%;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  background-color: #f3f3f3;
}

.plant-container {
  width: 40%;
  height: 50vh;
  margin-top: 90rem;
  margin-left: 60rem;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
 /*  border: 0.1rem solid black; */
  border-radius: 0.5rem;
  box-shadow: 15px 15px 10px 3px rgba(17, 70, 14, 0.75);
  background-image: url(./images/birch.jpg);
  background-size: cover;
}


.plant-container::-webkit-scrollbar {
  width: 1rem; 
  height: 1rem; 
  background-color: #1f3905;
  border-radius: 0.2rem;
}

.plant-container::-webkit-scrollbar-thumb {
  background-color: #83a25b;
  outline: 1px solid rgb(1, 2, 1);
  border-radius: 0.2rem;
} 


.plant-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: justify;
  color: rgb(3, 31, 8);
  font-weight: 900;
}

.plant-image {
<<<<<<< HEAD
  width: 60%;
  height: 60%;
=======
  width: 100%;
  height: auto;
  padding: 2rem 0 2rem 0;
  background-color: rgb(255, 255, 255, 0.5);
}
.plant-list p{
  padding-left: 2rem;
  font-size: 1vw;
  background-color: rgb(255, 255, 255, 0.5);
}
.plant-list h2{
  font-size: 1.5vw;
  padding-left: 2rem;
  background-color: rgb(255, 255, 255, 0.5);
}

.text-box{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 50vw;
  height: 60vh;
  margin-left: 35vw;
  margin-top: 160vh;
  
}
.text-box p{
  padding: 1vw;
  text-align: start;
  font-size: 1.0vw;
}

.text-box-guide{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 50vw;
  height: 60vh;
  margin-left: 35vw;
  margin-top: 100vh;
}
.text-box-guide p{
  padding: 1vw;
  text-align: start;
  font-size: 1.0vw;
}